/**
 * @file
 * All of the styles for the theme.
 *
 * Colors:
 *   #fff    - White
 */

/**
 * Fonts
 */
@font-face {
  font-family: 'sourcesanspro';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/SourceSansPro-Regular.eot');
  src: url('fonts/SourceSansPro-Regular.eot?') format('eot'), url('fonts/SourceSansPro-Regular.woff') format('woff');
}
@font-face {
  font-family: 'sourcesanspro';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/SourceSansPro-Bold.eot');
  src: url('fonts/SourceSansPro-Bold.eot?') format('eot'), url('fonts/SourceSansPro-Bold.woff') format('woff');
}
@font-face {
  font-family: 'sourcesanspro';
  font-style: italic;
  font-weight: normal;
  src: url('fonts/SourceSansPro-It.eot');
  src: url('fonts/SourceSansPro-It.eot?') format('eot'), url('fonts/SourceSansPro-It.woff') format('woff');
}
@font-face {
  font-family: 'sourcesanspro';
  font-style: italic;
  font-weight: bold;
  src: url('fonts/SourceSansPro-BoldIt.eot');
  src: url('fonts/SourceSansPro-BoldIt.eot?') format('eot'), url('fonts/SourceSansPro-BoldIt.woff') format('woff');
}

/**
 * Fixes from normalize.css 
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}

/*--Type Selectors--*/
/*-Body-*/
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
}
html, button, input, select, textarea {
  font-family: sans-serif;
}
body {
  background: #fff;
  color: #363636;
  font-family: 'sourcesanspro', Arial, sans-serif;
  font-size: 16px;
  letter-spacing: .05em;
  line-height: 1.45;
  margin: 0;
}
  body.admin-menu {
    margin-top: 30px !important;
  }

/*-Link-*/
a:link {
  color: #76a13b;
  text-decoration: none;
}
a:visited {
  color: #8a9900;
}
a:hover, a:active {
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
}

/*-List-*/
ul, ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}
dl {}
  dt {}
  dd {}

/*-Heading-*/
/* Declare the font-family for non-body-specified stuff here. */
h1, h2, h3, h4, h5, h6 {}
h1 {
  font-size: 3em;
  font-weight: 400;
  margin: 0.67em 0 0;
}
  h1#page-title {
    line-height: 1.3;
    margin: 0;
  }
  h1#site-name {
    margin: 0;
    padding: 0;
  }
  @media screen and (max-width: 400px) {
    h1 {
      font-size: 2em;
    }
  }
h2 {
  background: #598628;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%,transparent),
    color-stop(50%, rgba(89, 134, 40, .75)),
    color-stop(100%, rgba(136, 193, 61, 1))
  );
  background-image: linear-gradient(
    to right,
    transparent,
    rgba(89, 134, 40, .75) 50%,
    rgba(136, 193, 61, 1) 100%,
  );
  color: #fefefe;
  font-size: 2em;
  font-weight: 400;
  margin: 0 0 .3em;
  padding: 5px 0 0 20px;
  position: relative;
}
  h2:before {
    border-left: 30px solid transparent;
    border-top: 30px solid #fff;
    content: ' ';
    display: block;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
  }
  h2 > a {
    color: #fefefe;
  }
h3 {
  font-size: 2em;
  font-weight: 400;
  margin: 1em 0;
}
h4 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 1.33em 0;
}
h5 {
  font-size: 1em;
  font-weight: 400;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.9em;
  font-weight: 400;
  margin: 2.33em 0;
}

/*-Form-*/
form {
  margin: 0;
}
  fieldset {
    border: 1px solid #ccc;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }
    legend {
      border: 0;
      padding: 0;
      white-space: normal;
      *margin-left: -7px;
    }
  button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    max-width: 80%;
    vertical-align: baseline;
    *vertical-align: middle;
  }
  button, input {
    line-height: normal;
  }
  button, input[type="button"], input[type="reset"], input[type="submit"], a.button {
    background: #598628;
    border: 0 none;
    color: #fefefe;
    cursor: pointer;
    margin: 0 10px 0 0;
    padding: 5px 15px;
    *overflow: visible;
  }
    button:hover, input[type="button"]:hover,
    input[type="reset"]:hover, input[type="submit"]:hover, a.button:hover {
      background: #76a13b;
      color: #fff;
    }
  button[disabled], input[disabled] {
    cursor: default;
  }
  input[type="checkbox"], input[type="radio"] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
  }
  input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
  button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  textarea {
    overflow: auto;
    vertical-align: top;
  }

/*-Table-*/
table {
  border-collapse: collapse;
  border-left: .1em solid #598628;
  border-spacing: 0;
}
  caption {
    border-color: #ccc;
    border-style: solid;
    border-width: .1em .1em 0 .1em;
    font-size: .75em;
    padding: .25em 1em;
    text-align: left;
  }
  tbody tr:nth-child(2n) {
    background: #eee;
  }
  thead {
    background: #598628;
    color: #fefefe;
    font-weight: bold;
  }
    th {
      border-right: .1em solid #598628;
      border-bottom: .1em solid #598628;
      padding: .25em 1em;
    }
  td {
    border-right: .1em solid #598628;
    border-bottom: .1em solid #598628;
    padding: .25em 1em;
  }

/*-Other-*/
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
  white-space: nowrap;
}
address{
  font-style: italic;
}
b, strong { 
  font-weight: bold; 
}
blockquote {
  font-style: italic;
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}

embed, img, object {
  height: auto;
  max-width: 100%;
}
  img {
    border: 0;
    -ms-interpolation-mode: bicubic;
  }
mark {
  background: #7a121c;
  color: #0a2436;
}
p {
  margin: 1em 0;
}
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
  q:before, q:after {
    content: '';
    content: none;
  }
small {
  font-size: 75%;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
svg:not(:root) {
  overflow: hidden;
}

/*--Classes/Roles--*/
.block {}
  .block-content {}
.breadcrumb {
  font-size: 1.15em;
}
  .breadcrumb a {
    color: #888;
    text-decoration: none;
  }
    .breadcrumb a:hover {
      color: #eee;
      text-decoration: underline;
    }
  .breadcrumb .delimiter {
    color: #444;
  }
a.button {
  display: inline-block;
  text-decoration: none;
}
.field {}
  .field-label {}
    h3.field-label {
      margin-bottom: 0;
    }
.flexslider {
  border: 1px solid #ccc;
  border-radius: 0;
  margin: 0 0;
}
  .flex-control-nav {
    bottom: -5px;
  }
.form-item {
  margin: 1.5em 0;
}
  .form-item label, .implicit-label {
    display: inline-block;
    min-width: 8em;
  }
.grayscale {}
  .grayscale img {
    -moz-transition: .3s ease-out;
    -webkit-transition: .3s ease-out;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .3s ease-out;
  }
  .grayscale img:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
  }
.hide, .element-invisible {
  display: none;
}
 .away{
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }
ul.inline {
  display: inline;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
  .inline > li {
    display: inline;
    display: inline-block;
  }
.last-col {
  margin-right: 0;
}
.logo {}
.menu {
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}
  .menu > li {
    float: left;
    margin: .1em .5em .1em 0;
  }
    .menu > li a {
      text-decoration: none;
    }
.messages {
  border: 1px solid;
  font-style: italic;
  margin: 0 0 .25em;
  padding: .5em;
}
  .error {
    background: #e6679c;
    color: #850038;
  }
  .status {
    background: #60d68c;
    color: #00712a;
  }
  .warning {
    background: #e8f56e;
    color: #8a9900;
  }
.node {
  margin-bottom: 40px;
}
  .node-page {}
  .node-title a {
    color: #0b5182;
    text-decoration: none;
  }
.node-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
  .node-links li {}
    .node-links li:after {
      content: '|';
    }
    .node-links li.last:after {
      content: '';
    }
.node-unpublished {
  background: #eee;
}
  .node-unpublished:before {
    color: #7a121c;
    content: 'Not published';
    font-size: 3em;
    text-transform: uppercase;
  }
div.pager {
  margin: 1em auto;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
}
  ul.pager {
    padding: 0;
  }
  .pager ul > li {
    border: 1px solid;
    display: inline-block;
    margin: 0 .2em 0 0;
  }
    .pager li > a, .pager li > span {
      -moz-transition: background-color .3s ease-out;
      -webkit-transition: background-color .3s ease-out;
      background: #fff;
      display: inline-block;
      padding: .5em;
      text-decoration: none;
      transition: background-color .3s ease-out;
    }
      .pager li.pager-current > span {
        background: #ccc;
      }
      .pager li > a:hover {
        background: #0b5182;
        background: rgba(11,81,130,.5);
        color: #fff;
      }
  .pager-links li > a {
    min-width: 3em;
  }
.social {}
.tabs {
  border-bottom: 1px solid;
  font-family: Verdana, sans-serif;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0 0 0 1em;
  text-transform: uppercase;
}
  .tabs.primary {}
  .tabs > li {
    border-radius: 5px 5px 0 0;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    display: block;
    float: left;
    margin: 0 1em 0 0;
  }
    .tabs > li > a {
      -moz-transition: background-color .3s ease-out;
      -webkit-transition: background-color .3s ease-out;
      color: inherit;
      display: inline-block;
      padding: .5em 1em;
      text-decoration: none;
      transition: background-color .3s ease-out;
    }
      .tabs > li > a:hover {
        background: #0b5182;
        color: #fff;
      }
      .tabs > li > a.active {
        background: #ccc;
      }
.tipsy { 
  font-size: 10px;
  padding: 5px;
  position: absolute;
  z-index: 100000;
}
  .tipsy-inner {
    background-color: #0a2436; 
    border-radius: 3px;
    color: #fff;
    max-width: 200px;
    padding: 5px 8px 4px 8px; 
    text-align: center;
  }
  .tipsy-arrow {
    border: 5px dashed #0a2436;
    height: 0;
    line-height: 0;
    position: absolute;
    width: 0;
  }
    .tipsy-arrow-n { border-bottom-color: #0a2436; }
    .tipsy-arrow-s { border-top-color: #0a2436; }
    .tipsy-arrow-e { border-left-color: #0a2436; }
    .tipsy-arrow-w { border-right-color: #0a2436; }
	.tipsy-n .tipsy-arrow { 
    border-bottom-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: none;
    left: 50%;
    margin-left: -5px;
    top: 0;
  }
    .tipsy-nw .tipsy-arrow {
      border-bottom-style: solid;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top: none;
      left: 10px;
      top: 0;
    }
    .tipsy-ne .tipsy-arrow {
      border-bottom-style: solid;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top: none;
      right: 10px;
      top: 0;
    }
  .tipsy-s .tipsy-arrow {
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-style: solid;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
  }
    .tipsy-sw .tipsy-arrow {
      border-bottom: none;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-style: solid;
      bottom: 0;
      left: 10px;
    }
    .tipsy-se .tipsy-arrow {
      border-bottom: none;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-style: solid;
      bottom: 0;
      right: 10px;
    }
  .tipsy-e .tipsy-arrow {
    border-bottom-color: transparent;
    border-left-style: solid;
    border-right: none;
    border-top-color: transparent;
    margin-top: -5px;
    right: 0;
    top: 50%;
  }
  .tipsy-w .tipsy-arrow {
    border-bottom-color: transparent;
    border-left: none;
    border-right-style: solid;
    border-top-color: transparent;
    left: 0;
    margin-top: -5px;
    top: 50%;
  }
.view-mode-slide {
  border-left: 10px solid #0b5182;
}
  .view-mode-slide a {
    text-decoration: none;
  }
  .view-mode-slide h2 {
    border-bottom: 0 none;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 .3em;
  }
    .view-mode-slide h2 a {
      color: #0a2436;
    }
      .view-mode-slide h2 a:hover {
        color: #0b5182;
      }
  .view-mode-slide .field-type-taxonomy-term-reference {
    float: left;
    font-size: 1.1em;
    margin: 0;
  }
    .view-mode-slide .field-type-taxonomy-term-reference a {
      color: #0b5182;
    }
    .view-mode-slide .field-name-field-subclass .field-item:before {
      color: #444;
      content: '/';
      display: inline-block;
      font-weight: bold;
      margin: 0 10px;
    }
.views-exposed-form {}
  .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.2em;
    padding: 5px 15px 5px 10px;
  }
    
/*--Structure--*/
.page {
  padding: 0;
}

.region {
  clear: both;
  padding: 0;
}
  .region > .inner {
    margin: 0 auto;
    max-width: 960px;
    width: 960px;
  }
    .region > .inner:after,
    .block-content:after {
      clear: both;
      content: ' ';
      display: table;
    }

  @media screen and (min-width: 1px) {
    .region > .inner {
      width: inherit;
    }
  }
  @media screen and (max-width: 960px) {
    .region {
      padding: 0 20px;
    }
  }

  .region-header {
    padding: 1em 0 0;
  }
    .region-header .block {
      text-align: center;
    }
      .region-header a {
        display: block;
        margin: 0 40px;
      }
  .region-nav {
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 3px solid #0b5182;
  }
  .region-content-top {}
  .region-content {}
    .region-content > .inner {}
  .region-content-bottom {}
    .region-content-bottom > .inner {}
  .region-footer {
    background: #444;
    background: rgba(34,34,34,.9);
    color: #fff;
    border-top: 3px solid #0b5182;
  }
    .region-footer > .inner {
      padding: 30px 0;
    }